# Enforce Unix newlines
*.css   text eol=lf
*.coffee text eol=lf
*.erb   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.rb    text eol=lf
*.scss  text eol=lf
*.yml   text eol=lf
