/* -------------------------------------------------------- password meter */
.password-meter {}

.password-meter-bar-wrapper {
	background-color: #E3E3E3;
	border-radius: 5px;
	display: inline-block;
	width: 160px;
	line-height: 12px;
	margin-right: 10px;

	.password-meter-bar {
		border-radius: 5px 0 0 5px;

		&.weak { background-color: #E30613; }
		&.medium { background-color: #F39200; }
		&.strong { background-color: #76991E; }

		&.level-0 { width: 00%; @extend .weak; }
		&.level-1 { width: 25%; @extend .weak; }
		&.level-2 { width: 50%; @extend .medium; }
		&.level-3 { width: 75%; @extend .strong; }
		&.level-4 { width: 100%; @extend .strong; border-radius: 5px; }
	}

	.password-meter-bar-section {
		display: inline-block;
		width: 0;
		height: 12px;
		position: absolute;
		border-left: 1px solid white;
		margin-top: -12px;

		&.section-1 { margin-left: 40px * 1; }
		&.section-2 { margin-left: 40px * 2; }
		&.section-3 { margin-left: 40px * 3; }
	}
}

.password-meter-bar-text {
	display: inline-block;
}

.password-meter-log {}
/* -------------------------------------------------------- */
